{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_mathsyntaxhelp/block

    Displays the a block instance.

    Example context (json):
    {
        "dense": false,
        "striped": true,
        "content": [
            {
                "mathjax": "\\( \\log_e(y) \\)",
                "syntax": "ln(y)"
            },
            {
                "mathjax": "\\( \\sqrt{x} \\)",
                "syntax": "sqrt(x)"
            }
        ]
    }
}}

<table class="table table-hover {{#dense}}table-sm{{/dense}} {{#striped}}table-striped{{/striped}}">
    <thead>
        <tr>
            <th scope="col" class="border-top-0">{{#str}} math_expression, block_mathsyntaxhelp {{/str}}</th>
            <th scope="col" class="border-top-0">{{#str}} input_syntax, block_mathsyntaxhelp {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#content}}
            <tr>
                <td>{{{mathjax}}}</td>
                <td><code class="text-body">{{{syntax}}}</code></td>
            </tr>
        {{/content}}
    </tbody>
</table>
